<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>

	<title>Play Time Calculator</title>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

	<style>
		#app {
			max-width: 960px;
			margin-left: auto;
			margin-right: auto;
		}
	</style>

</head>
<body>

<div id="app">
	<label>Players playing at a time:
		<input type="number" v-model.number="playingCount" class="border">
	</label>
	<label>Total rounds:
		<input type="number" v-model.number="roundsCount" class="border">
	</label>
	<label>
		<button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-1 px-2 border border-blue-500 hover:border-transparent rounded" v-on:click="handleReset">Reset</button>
	</label>
	<table class="w-full my-4">
		<thead>
			<th class="w-20">Round</th>
			<th v-for="n in playingCount">
				Player {{ n }}
			</th>
		</thead>
		<tbody>
			<tr v-for="n in roundsCount">
				<td>{{ n }}</td>
				<td v-for="o in playingCount">
					<input v-model="playLineup[n - 1][o - 1]" class="border">
				</td>
			</tr>
		</tbody>
	</table>
	<table class="w-full my-4 table-fixed">
		<thead class="text-left">
			<th class="w-24">Player</th>
			<th v-for="(name) in allNames">
				{{ name }}
			</th>
		</thead>
		<tbody>
			<tr v-for="(data, playerName) in players">
				<td class="text-left">{{ playerName }}</td>
				<td v-for="(count, title) in data" class="text-center">
					<span v-if="title === playerName" class="border border-black block border-2">
						{{ count }}
					</span>
					<span v-else class="block">
						{{ count }}
					</span>
				</td>
			</tr>
		</tbody>
	</table>
	<form @submit.prevent="handleAddPlayer">
		<label>Add a player:
			<input v-model="newPlayer" class="border">
		</label>
	</form>
</div>

<script>
	var app = new Vue({
		el: '#app',
		data: {
			newPlayer: '',
			playingCount: 4,
			roundsCount: 8,
			players: {},
			enteredPlayers: [],
			allNames: [],
			playLineup: []
		},
		created() {
			let calcData = JSON.parse(localStorage.getItem('calcdata'));
			if ( calcData !== null ) {
				Object.assign(this.$data, calcData);
			} else {
				let playLineup = [];
				for ( var i = 0; i < this.roundsCount; i++ ) {
					playLineup.push([]);
				}
				this.playLineup = playLineup;
			}
		},
		methods: {
			handleAddPlayer() {
				this.enteredPlayers.push(this.newPlayer);
				if ( typeof this.players[this.newPlayer] === 'undefined' ) {
					this.players[this.newPlayer] = {};
				}
				this.newPlayer = '';
				// Triggers a refresh.
				this.playLineup.push([]);
				this.playLineup.pop();
				this.saveData();
			},
			saveData() {
				localStorage.setItem('calcdata', JSON.stringify(this.$data));
			},
			handleReset() {
				this.players = {};
				this.allNames = [];
				this.playingCount = 4;
				this.roundsCount = 8;
				this.enteredPlayers = [];
				// Triggers a refresh.
				let playLineup = [];
				for ( var i = 0; i < this.roundsCount; i++ ) {
					playLineup.push([]);
				}
				this.playLineup = playLineup;
				this.saveData();
			}
		},
		watch: {
			roundsCount(value) {
				if ( value > this.playLineup.length ) {
					for ( i=this.playLineup.length; i<=value; i++ ) {
						this.playLineup.push([]);
					}
				} else if ( value < this.playLineup.length ) {
					for ( i=this.playLineup.length; i>value; i-- ) {
						this.playLineup.pop();
					}
				}
				this.saveData();
			},
			playLineup(value) {
				players = {};
				this.enteredPlayers.forEach((name) => {
					players[name] = {};
				});
				value.forEach(function(row){
					row.forEach(function(name){
						if ( ! name.length ) {
							return;
						}
						if ( typeof players[name] === 'undefined' ) {
							players[name] = {};
						}
					})
				})
				allNames = [];
				for( [name, data] of Object.entries(players) ) {
					allNames.push(name);
				}
				for( [name, data] of Object.entries(players) ) {
					for( i = 0; i < allNames.length; i++ ) {
						if ( typeof players[name][allNames[i]] === 'undefined' ) {
							players[name][allNames[i]] = 0;
						}
					}
				}
				value.forEach(function(row){
					for( [name, data] of Object.entries(players) ) {
						if ( ! row.includes(name) ) {
							continue;
						}
						for( [other, count] of Object.entries(data) ) {
							if ( row.includes(other) ) {
								players[name][other]++;
							}
						}
					}
				});
				this.players = players;
				this.allNames = allNames;
				this.saveData();
			}
		}
	});
</script>
</body>
